<div class="container text-center cusotmer-login">
       <h1>Customer Details Portal</h1>
       <form class="form-inline">
         <div class="form-group row">
           <div class="col-md-12">
             <label for="pnr">Please Enter Your PNR:</label>
             <input type="text" class="form-control" id="pnr" ng-click="vmPortal.getCustomerDetails()">
           </div>
           <div class="col-md-12" id="inputTypeObj">
             <form enctype="multipart/form-data">
               <input type="file" id="fileInput"  file-model ="vmPortal.fileObj.fileInput"></input>
               <input type="text" id="textInput" ng-model="vmPortal.fileObj.textInput"></input>
               <button ng-click="vmPortal.processInput()">Submit</button>
             </form>

           </div>
        </div>
      </form>
      <p>{{vmPortal.successMessage}}</p>
       <!-- <p class="text-center"  ng-if="vmRepos.loading">
         <span class="fa fa-spinner fa-spin fa-3x"></span>
       </p>
       <div class="inner-table">
           <table class="table table-bordered table-responsive" ng-if="!vmRepos.loading">
                <thead>
                  <tr>
                    <th ng-repeat="header in vmRepos.headers">{{header}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="repository in vmRepos.repoDetails">
                    <td ng-repeat="colDa in repository track by $index">{{colDa}}</td>

                  </tr>
                </tbody>
          </table>
      </div>
      <button type="button" class="btn btn-primary" ng-click="vmRepos.loadNextSetOfRepos()" ng-if="!vmRepos.loading">Load More Values</button> -->

</div>
<style>


</style>
