<div class="container text-center cusotmer-login">
       <h1>Customer Login Portal</h1>
       <form class="form-inline">
         <div class="form-group row">
           <div class="col-md-5">
             <label for="userName">Please Enter Your UserName:</label>
             <input type="text" class="form-control" id="userName" ng-model="vmLogin.customerUserName">
           </div>
           <div class="col-md-5">
             <label for="userPassword">Please Enter Your Password:</label>
             <input type="text" class="form-control" id="userPassword" ng-model="vmLogin.customerPassword">
           </div>
           <div class="col-md-4">
             <button type="button" class="btn btn-success" ng-click="vmLogin.getCustomerAuthToken()">Submit</button>
           </div>
        </div>
      </form>
      
</div>
<style>


</style>
